<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>switchKey</key>
				<string>settingPush01_00_00</string>
				<key>subTitle</key>
				<string>MoreAbout</string>
				<key>title</key>
				<string>每日开奖</string>
				<key>accessoryView</key>
				<string>UISwitch</string>
			</dict>
			<dict>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>switchKey</key>
				<string>settingPush01_00_01</string>
				<key>subTitle</key>
				<string>MoreAbout</string>
				<key>title</key>
				<string>每日开奖</string>
				<key>accessoryView</key>
				<string>UISwitch</string>
			</dict>
			<dict>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>switchKey</key>
				<string>settingPush01_00_02</string>
				<key>subTitle</key>
				<string>MoreAbout</string>
				<key>title</key>
				<string>每日开奖</string>
				<key>accessoryView</key>
				<string>UISwitch</string>
			</dict>
			<dict>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>switchKey</key>
				<string>settingPush01_00_03</string>
				<key>subTitle</key>
				<string>MoreAbout</string>
				<key>title</key>
				<string>每日开奖</string>
				<key>accessoryView</key>
				<string>UISwitch</string>
			</dict>
			<dict>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>switchKey</key>
				<string>settingPush01_00_04</string>
				<key>subTitle</key>
				<string>MoreAbout</string>
				<key>title</key>
				<string>每日开奖</string>
				<key>accessoryView</key>
				<string>UISwitch</string>
			</dict>
			<dict>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>switchKey</key>
				<string>settingPush01_00_05</string>
				<key>subTitle</key>
				<string>MoreAbout</string>
				<key>title</key>
				<string>每日开奖</string>
				<key>accessoryView</key>
				<string>UISwitch</string>
			</dict>
			<dict>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>switchKey</key>
				<string>settingPush01_00_06</string>
				<key>subTitle</key>
				<string>MoreAbout</string>
				<key>title</key>
				<string>每日开奖</string>
				<key>accessoryView</key>
				<string>UISwitch</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
