<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string>MoreAbout</string>
				<key>switchKey</key>
				<string>setting_00_00</string>
				<key>title</key>
				<string>第1</string>
				<key>accessoryView</key>
				<string>UISwitch</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string>MorePush</string>
				<key>plistName</key>
				<string>SettingPush01</string>
				<key>targetVC</key>
				<string>YHSttingTableController</string>
				<key>title</key>
				<string>推送</string>
				<key>accessoryView</key>
				<string>UIImageView</string>
				<key>accessoryContent</key>
				<string>arrow_right</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>MoreAbout</string>
				<key>title</key>
				<string>摇一摇</string>
			</dict>
			<dict>
				<key>plistName</key>
				<string>SettingPush</string>
				<key>targetVC</key>
				<string>YHSttingTableController</string>
				<key>icon</key>
				<string>MoreHelp</string>
				<key>title</key>
				<string>开奖推送</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>MoreUpdate</string>
				<key>title</key>
				<string>更新</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string>MorePush</string>
				<key>title</key>
				<string>推送</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>MoreAbout</string>
				<key>funcName</key>
				<string>checkUpdate</string>
				<key>title</key>
				<string>检查新版本</string>
				<key>accessoryView</key>
				<string>UIImageView</string>
				<key>accessoryContent</key>
				<string>arrow_right</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>MoreHelp</string>
				<key>title</key>
				<string>产品推荐</string>
				<key>targetVC</key>
				<string>YHProductController</string>
				<key>accessoryView</key>
				<string>UIImageView</string>
				<key>accessoryContent</key>
				<string>arrow_right</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>MoreUpdate</string>
				<key>targetVC</key>
				<string>YHAboutController</string>
				<key>plistName</key>
				<string>SettingAbout</string>
				<key>title</key>
				<string>关于</string>
				<key>accessoryView</key>
				<string>UIImageView</string>
				<key>accessoryContent</key>
				<string>arrow_right</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
