<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_2_100</string>
				<key>intro</key>
				<string>个性签名这么拽1</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_3_100</string>
				<key>intro</key>
				<string>个性签名这么拽2</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_4_100</string>
				<key>intro</key>
				<string>个性签名这么拽3</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_2_100</string>
				<key>intro</key>
				<string>个性签名这么拽1</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_3_100</string>
				<key>intro</key>
				<string>个性签名这么拽2</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_4_100</string>
				<key>intro</key>
				<string>个性签名这么拽3</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_2_100</string>
				<key>intro</key>
				<string>个性签名这么拽1</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_3_100</string>
				<key>intro</key>
				<string>个性签名这么拽2</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_4_100</string>
				<key>intro</key>
				<string>个性签名这么拽3</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_2_100</string>
				<key>intro</key>
				<string>个性签名这么拽1</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_3_100</string>
				<key>intro</key>
				<string>个性签名这么拽2</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_4_100</string>
				<key>intro</key>
				<string>个性签名这么拽3</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_2_100</string>
				<key>intro</key>
				<string>个性签名这么拽1</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_3_100</string>
				<key>intro</key>
				<string>个性签名这么拽2</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_4_100</string>
				<key>intro</key>
				<string>个性签名这么拽3</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>朋友</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_2_100</string>
				<key>intro</key>
				<string>个性签名这么拽1</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_3_100</string>
				<key>intro</key>
				<string>个性签名这么拽2</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_4_100</string>
				<key>intro</key>
				<string>个性签名这么拽3</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>同事</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_2_100</string>
				<key>intro</key>
				<string>个性签名这么拽1</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_3_100</string>
				<key>intro</key>
				<string>个性签名这么拽2</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_4_100</string>
				<key>intro</key>
				<string>个性签名这么拽3</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>幼儿园</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_2_100</string>
				<key>intro</key>
				<string>个性签名这么拽1</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_3_100</string>
				<key>intro</key>
				<string>个性签名这么拽2</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_4_100</string>
				<key>intro</key>
				<string>个性签名这么拽3</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>小学</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_2_100</string>
				<key>intro</key>
				<string>个性签名这么拽1</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_3_100</string>
				<key>intro</key>
				<string>个性签名这么拽2</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_4_100</string>
				<key>intro</key>
				<string>个性签名这么拽3</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>初中</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_2_100</string>
				<key>intro</key>
				<string>个性签名这么拽1</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_3_100</string>
				<key>intro</key>
				<string>个性签名这么拽2</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_4_100</string>
				<key>intro</key>
				<string>个性签名这么拽3</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>高中</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_2_100</string>
				<key>intro</key>
				<string>个性签名这么拽1</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_3_100</string>
				<key>intro</key>
				<string>个性签名这么拽2</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_4_100</string>
				<key>intro</key>
				<string>个性签名这么拽3</string>
				<key>name</key>
				<string>huig</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>大学</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
