<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>comments</key>
		<string>卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果卡兰蒂斯分公司公示结果</string>
		<key>icon</key>
		<string>m_2_100</string>
		<key>name</key>
		<string>昵称昵称昵称昵称昵</string>
		<key>pic</key>
		<string>1</string>
	</dict>
	<dict>
		<key>comments</key>
		<string>卡兰蒂斯分公司兰蒂斯分公司兰蒂斯分公司兰蒂斯分公司兰蒂斯分公司公示结果</string>
		<key>icon</key>
		<string>m_3_100</string>
		<key>name</key>
		<string>昵称</string>
		<key>pic</key>
		<string></string>
	</dict>
	<dict>
		<key>comments</key>
		<string>卡兰蒂斯分公司公示结果</string>
		<key>icon</key>
		<string>m_4_100</string>
		<key>name</key>
		<string>昵称</string>
		<key>pic</key>
		<string>3</string>
	</dict>
	<dict>
		<key>comments</key>
		<string>卡兰蒂斯分公司公示结果</string>
		<key>icon</key>
		<string>m_5_100</string>
		<key>name</key>
		<string>昵称</string>
		<key>pic</key>
		<string></string>
	</dict>
	<dict>
		<key>comments</key>
		<string>卡兰蒂斯分公司公示结果</string>
		<key>icon</key>
		<string>m_6_100</string>
		<key>name</key>
		<string>昵称</string>
		<key>pic</key>
		<string>1</string>
	</dict>
	<dict>
		<key>comments</key>
		<string>卡兰蒂斯分兰蒂斯分公司兰蒂斯分公司兰蒂斯分公司兰蒂斯分公司兰蒂斯分公司公司公示结果</string>
		<key>icon</key>
		<string>m_7_100</string>
		<key>name</key>
		<string>昵称</string>
		<key>pic</key>
		<string>5</string>
	</dict>
	<dict>
		<key>comments</key>
		<string>卡兰蒂斯分公司公示结果</string>
		<key>icon</key>
		<string>m_8_100</string>
		<key>name</key>
		<string>昵称</string>
		<key>pic</key>
		<string></string>
	</dict>
	<dict>
		<key>comments</key>
		<string>卡兰蒂斯分公兰蒂斯分公司兰蒂斯分公司兰蒂斯分公司司公示结果</string>
		<key>icon</key>
		<string>m_9_100</string>
		<key>name</key>
		<string>昵称</string>
		<key>pic</key>
		<string>4</string>
	</dict>
	<dict>
		<key>comments</key>
		<string>卡兰蒂斯分兰蒂斯分公司兰蒂斯分公司兰蒂斯分公司公司公示结果</string>
		<key>icon</key>
		<string>m_10_100</string>
		<key>name</key>
		<string>昵称</string>
		<key>pic</key>
		<string></string>
	</dict>
	<dict>
		<key>comments</key>
		<string>卡兰蒂斯分公兰蒂斯分公司兰蒂斯分公司司公示结果</string>
		<key>icon</key>
		<string>m_2_100</string>
		<key>name</key>
		<string>昵称</string>
		<key>pic</key>
		<string>6</string>
	</dict>
	<dict>
		<key>comments</key>
		<string>卡兰蒂斯分公司公示结果</string>
		<key>icon</key>
		<string>m_6_100</string>
		<key>name</key>
		<string>昵称</string>
		<key>pic</key>
		<string>1</string>
	</dict>
	<dict>
		<key>comments</key>
		<string>卡兰蒂斯分兰蒂斯分公司兰蒂斯分公司兰蒂斯分公司兰蒂斯分公司兰蒂斯分公司公司公示结果</string>
		<key>icon</key>
		<string>m_7_100</string>
		<key>name</key>
		<string>昵称</string>
		<key>pic</key>
		<string>5</string>
	</dict>
	<dict>
		<key>comments</key>
		<string>卡兰蒂斯分公司公示结果</string>
		<key>icon</key>
		<string>m_8_100</string>
		<key>name</key>
		<string>昵称</string>
		<key>pic</key>
		<string></string>
	</dict>
	<dict>
		<key>comments</key>
		<string>卡兰蒂斯分公兰蒂斯分公司兰蒂斯分公司兰蒂斯分公司司公示结果</string>
		<key>icon</key>
		<string>m_9_100</string>
		<key>name</key>
		<string>昵称</string>
		<key>pic</key>
		<string>4</string>
	</dict>
	<dict>
		<key>comments</key>
		<string>卡兰蒂斯分兰蒂斯分公司兰蒂斯分公司兰蒂斯分公司公司公示结果</string>
		<key>icon</key>
		<string>m_10_100</string>
		<key>name</key>
		<string>昵称</string>
		<key>pic</key>
		<string></string>
	</dict>
	<dict>
		<key>comments</key>
		<string>卡兰蒂斯分公兰蒂斯分公司兰蒂斯分公司司公示结果</string>
		<key>icon</key>
		<string>m_2_100</string>
		<key>name</key>
		<string>昵称</string>
		<key>pic</key>
		<string>6</string>
	</dict>
</array>
</plist>
