<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi</string>
		<key>time</key>
		<string>昨天</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?hi,在吗?</string>
		<key>time</key>
		<string>今天</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>hi</string>
		<key>time</key>
		<string>昨天</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>hi,在吗?</string>
		<key>time</key>
		<string>今天</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>hi</string>
		<key>time</key>
		<string>昨天</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>hi,在吗?</string>
		<key>time</key>
		<string>今天</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>hi</string>
		<key>time</key>
		<string>昨天</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>hi,在吗?</string>
		<key>time</key>
		<string>今天</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
