<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>这么多星星</string>
		<key>icon</key>
		<string>big__00001</string>
		<key>answer</key>
		<string>满天</string>
		<key>options</key>
		<array>
			<string>满</string>
			<string>天</string>
			<string>行</string>
			<string>星</string>
			<string>的</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>看 </string>
			<string>我</string>
			<string>盘</string>
			<string>加</string>
			<string>啊</string>
			<string>在</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>这么多星星</string>
		<key>icon</key>
		<string>big__00002</string>
		<key>answer</key>
		<string>满天他</string>
		<key>options</key>
		<array>
			<string>满</string>
			<string>天</string>
			<string>他</string>
			<string>星</string>
			<string>的</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>看 </string>
			<string>我</string>
			<string>盘</string>
			<string>加</string>
			<string>啊</string>
			<string>在</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>这么多星星</string>
		<key>icon</key>
		<string>big__00003</string>
		<key>answer</key>
		<string>满天星啊</string>
		<key>options</key>
		<array>
			<string>满</string>
			<string>天</string>
			<string>啊</string>
			<string>星</string>
			<string>的</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>看 </string>
			<string>我</string>
			<string>盘</string>
			<string>加</string>
			<string>啊</string>
			<string>在</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>这么多星星</string>
		<key>icon</key>
		<string>big__00004</string>
		<key>answer</key>
		<string>满满天天星</string>
		<key>options</key>
		<array>
			<string>满</string>
			<string>天</string>
			<string>天</string>
			<string>满</string>
			<string>行</string>
			<string>星</string>
			<string>的</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>看 </string>
			<string>我</string>
			<string>盘</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>big__00005</string>
		<key>answer</key>
		<string>满天星</string>
		<key>options</key>
		<array>
			<string>满</string>
			<string>天</string>
			<string>行</string>
			<string>星</string>
			<string>的</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>看 </string>
			<string>我</string>
			<string>盘</string>
			<string>加</string>
			<string>啊</string>
			<string>在</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>这么多星星</string>
		<key>icon</key>
		<string>big__00006</string>
		<key>answer</key>
		<string>满天星</string>
		<key>options</key>
		<array>
			<string>满</string>
			<string>天</string>
			<string>行</string>
			<string>星</string>
			<string>的</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>看 </string>
			<string>我</string>
			<string>盘</string>
			<string>加</string>
			<string>啊</string>
			<string>在</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>这么多星星</string>
		<key>icon</key>
		<string>big__00007</string>
		<key>answer</key>
		<string>满天星</string>
		<key>options</key>
		<array>
			<string>满</string>
			<string>天</string>
			<string>行</string>
			<string>星</string>
			<string>的</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>看 </string>
			<string>我</string>
			<string>盘</string>
			<string>加</string>
			<string>啊</string>
			<string>在</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>这么多星星</string>
		<key>icon</key>
		<string>big__00008</string>
		<key>answer</key>
		<string>满天星</string>
		<key>options</key>
		<array>
			<string>满</string>
			<string>天</string>
			<string>行</string>
			<string>星</string>
			<string>的</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>看 </string>
			<string>我</string>
			<string>盘</string>
			<string>加</string>
			<string>啊</string>
			<string>在</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>这么多星星</string>
		<key>icon</key>
		<string>big__00009</string>
		<key>answer</key>
		<string>满天星</string>
		<key>options</key>
		<array>
			<string>满</string>
			<string>天</string>
			<string>行</string>
			<string>星</string>
			<string>的</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>就</string>
			<string>看 </string>
			<string>我</string>
			<string>盘</string>
			<string>加</string>
			<string>啊</string>
			<string>在</string>
		</array>
	</dict>
</array>
</plist>
