<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_2_100</string>
		<key>name</key>
		<string>天天酷跑</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_3_100</string>
		<key>name</key>
		<string>天天爱消除</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_4_100</string>
		<key>name</key>
		<string>天天k歌</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_5_100</string>
		<key>name</key>
		<string>天天酷</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_6_100</string>
		<key>name</key>
		<string>天天跑</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_7_100</string>
		<key>name</key>
		<string>天酷跑</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_8_100</string>
		<key>name</key>
		<string>酷跑</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_9_100</string>
		<key>name</key>
		<string>天跑</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_10_100</string>
		<key>name</key>
		<string>天酷</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_2_100</string>
		<key>name</key>
		<string>天天酷跑</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_3_100</string>
		<key>name</key>
		<string>天天爱消除</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_4_100</string>
		<key>name</key>
		<string>天天k歌</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_5_100</string>
		<key>name</key>
		<string>天天酷</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_6_100</string>
		<key>name</key>
		<string>天天跑</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_7_100</string>
		<key>name</key>
		<string>天酷跑</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_8_100</string>
		<key>name</key>
		<string>酷跑</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_9_100</string>
		<key>name</key>
		<string>天跑</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
	<dict>
		<key>download</key>
		<string>189.8万</string>
		<key>icon</key>
		<string>m_10_100</string>
		<key>name</key>
		<string>天酷</string>
		<key>size</key>
		<string>10.8M</string>
	</dict>
</array>
</plist>
