<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tableViewAutoLineheight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A62D67472026C81B0047E0B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A62D675F2026C81B0047E0B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A62D676A2026C81B0047E0B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
